<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Forgot Password</title>
</head>
<body>
<h1>Please Enter New Password</h1>
<div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
<div>
    <form th:action="@{/forgotPassword}" method="post">
        <div>
            <label>
                <input type="text" name="username" placeholder="Username"/>
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="newPassword" placeholder="New Password"/>
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="reEnterNewPassword" placeholder="Re-enter New Password"/>
            </label>
        </div>
        <input type="submit" value="Reset Password"/>
    </form>
</div>
</body>
</html>