<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<table>
  <thead>
    <tr>
      <th>
        Label
      </th>
      <th>
        Image
      </th>
      <th>
        URL
      </th>
      <th>
        Ingredients
      </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="recipe : ${recipes}">
      <td>
        <p th:text="${recipe.getLabel()}"></p>
      </td>
      <td>
        <img th:src="${recipe.getImage()}" th:alt="${recipe.getLabel()}" />
      </td>
      <td>
        <p th:text="${recipe.getUrl()}"></p>
      </td>
      <td>
        <p th:text="${recipe.getIngredientLines()}"></p>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>