<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            padding: 20px;
        }

        input {
            width: 100%;
            margin-bottom: 5px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).on('click', '.add_field', function() {
            $('<input type="text" class="input" name="field[]" value="">').insertAfter('.input:last');
        })
    </script>
</head>
<body>
    <form th:action="@{/recipeSearch}" method="post">
        <label>
            <input type="text" class="input" name="field[]" value=""/>
        </label>
        <input type="submit" name="submit" value="Submit"/>
    </form>
    <button type="button" class="add_field">Add field</button>
</body>
</html>